@page "/"

<PageTitle>Home - TravelAI</PageTitle>

<HomeHero />

<div style="position: relative; z-index: 2; background: #fff;">
    <FeaturedDestinations />
    <JourneySteps />
    <Testimonials />
    <NewsletterBanner />
    <Footer />
</div>
